.font {
  color: #dfdfdf;
  font-weight: 600;
  font-size: 16px;
}

.body {
  display: flex;
  background-color: #131716;
  height: 100vh;
  width: 100vw;
  color: rgb(199, 199, 199);
  padding: 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  gap: 10px;
  box-sizing: border-box;
  user-select: none;
}
.column {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  box-sizing: border-box;
  gap: 10px;
  user-select: none;
  width: 100%;
  height: 100%;
}

.DynamicContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 10px;
  height: 0px;
}

.scroll {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: scroll;
  scrollbar-width: none;
}

.padding {
  padding: 10px;
}

.base_color {
  background-color: #252827;
  border-radius: 5px;
  border: 1px solid #303332;
}

.empty_color {
  background-color: #191c1b;
  border-radius: 5px;
  border: 1px solid #252827;
}

.standard_durability_color {
  background-color: #252827;
  transition: background-color 2s ease-in-out;
}

.negative_durability_color {
  background-color: #6d0000;
}

.row_color {
  background-color: #252827;
  border-bottom: 1px solid #303332;
}

.row_color_alternate {
  background-color: #1a1d1c;
  border-bottom: 1px solid #252827;
}

.opaque_color {
  background-color: rgba(25, 28, 27, 0.5);
  border-radius: 5px;
  border: 1px solid #252827;
}

.opaque_red_color {
  background-color: rgba(70, 14, 14, 0.5);
  border-radius: 5px;
  border: 1px solid #252827;
}

.button {
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.button:hover {
  background-color: #4d4d4d;
}

.button:active {
  background-color: #252827; /* Change this to the color you want when the button is clicked */
}

.button.active {
  background-color: #737977; /* Change this to your preferred active color */
  font-weight: bold;
}

.red {
  background-color: #ff0000;
}

.green {
  background-color: #00ff00;
}

.faHeartIcon {
  position: relative;
}

.faHeartIcon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  position: absolute;
  top: 0;
  left: -5px;
  padding-right: 10px;
}
