*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Resetting */

:root {
  --clr-bright-red: hsl(0, 48%, 39%);
  --clr-background: hsl(165, 10%, 8%);
  --clr-primary-1: hsl(160, 3%, 10%);
  --clr-primary-2: hsl(160, 3%, 13%);
  --clr-primary-3: hsl(160, 3%, 16%);
  --clr-primary-4: hsl(160, 3%, 19%);
  --clr-primary-5: hsl(160, 3%, 22%);
  --clr-border: hsl(160, 3%, 15.1%);
  --clr-font-primary-1: hsl(0, 0%, 90%);
  --clr-font-primary-2: hsl(0, 0%, 65%);
  --clr-font-primary-3: hsl(0, 0%, 45%);
  --clr-font-secondary: #ff0000;
  --gap: 10px;
  --border-radius: 5px;
  --font-size-large: 18px;
  --font-size-normal: 16px;
  --font-size-small: 12px;
  --font-size-tiny: 10px;
}

#root {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  height: 100%; /* Assuming you're using a setup like create-react-app, adjust if you have a different root */
  user-select: none;
}

html,
body {
  height: 100%;
  background-color: var(--clr-background);
  color: var(--clr-font-primary);
  font-weight: 600;
  font-size: 16px;
}

/* For webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
  display: none !important;
}

.fadeIn {
  animation: fadeInAnimation 0.5s forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  gap: var(--gap);
  border-radius: var(--border-radius);
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  gap: var(--gap);
  border-radius: var(--border-radius);
}

.row--card {
  min-height: 50px;
  gap: 0px;
}

.button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: background-color 0.1s ease;
  border-radius: var(--border-radius);
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

.font--error {
  color: var(--clr-bright-red);
}

.font--primary-2 {
  color: var(--clr-font-primary-2);
}

.font--primary-3 {
  color: var(--clr-font-primary-3);
}

.font--size-large {
  font-size: var(--font-size-large);
}

.font--size-normal {
  font-size: var(--font-size-normal);
}

.font--size-small {
  font-size: var(--font-size-small);
}

.font--size-tiny {
  font-size: var(--font-size-tiny);
}

.bg--background {
  background-color: var(--clr-background) !important;
}

.bg--primary-1 {
  background-color: var(--clr-primary-1) !important;
}

.bg--primary-2 {
  background-color: var(--clr-primary-2) !important;
}

.bg--primary-3 {
  background-color: var(--clr-primary-3) !important;
}

.bg--primary-4 {
  background-color: var(--clr-primary-4) !important;
}

.bg--primary-5 {
  background-color: var(--clr-primary-5) !important;
}

.border {
  border: 1px solid var(--clr-border);
}

.button:hover {
  background-color: #4d4d4d;
}

.button:active {
  background-color: #252827;
}

.padding-none {
  padding: 0;
}

.padding--small {
  padding: 2px;
}

.padding--medium {
  padding: 5px;
}

.gap--none none {
  gap: 0px;
}

.gap--small {
  gap: 5px;
}

.gap--medium {
  gap: 10px;
}

.gap--large {
  gap: 20px;
}

.row--divider {
  display: flex;
  background-color: var(--clr-background);
  width: 100%;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* ABOVE IS THE CLEAN UP */

.padding {
  padding: 10px;
}

.base_color {
  background-color: #252827;
  border-radius: 5px;
  border: 1px solid #303332;
}

.empty_color {
  background-color: #191c1b;
  border-radius: 5px;
  border: 1px solid #252827;
}

.standard_durability_color {
  background-color: #252827;
  transition: background-color 2s ease-in-out;
}

.negative_durability_color {
  background-color: #6d0000;
}

.opaque_color {
  background-color: rgba(25, 28, 27, 0.5);
  border-radius: 5px;
  border: 1px solid #252827;
}

.opaque_red_color {
  background-color: rgba(70, 14, 14, 0.5);
  border-radius: 5px;
  border: 1px solid #252827;
}

.faded_button {
  display: flex;
  cursor: pointer;
  transition: background-color 0.1s ease;
  color: #dfdfdf;
  background: rgba(255, 2255, 255, 0.025);
  border-radius: 0px;
  border-left: "1px solid rgba(0, 0, 0, 0.25)";
  color: rgba(2255, 2255, 255, 0.2);
  justify-content: center;
  align-items: center;
  gap: "0px";
}

.faded_button:hover {
  background-color: #414141;
}

.button.active {
  background-color: #737977; /* Change this to your preferred active color */
  font-weight: bold;
}

.button:disabled {
  background-color: #252827; /* Change this to your preferred disabled color */
  color: #737977;
  cursor: not-allowed;
}

.red {
  background-color: #ff0000;
}

.green {
  background-color: #00ff00;
}

.faHeartIcon {
  position: relative;
}

.faHeartIcon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  position: absolute;
  top: 0;
  left: -5px;
  padding-right: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  gap: 10px;
  border-radius: 5px;
}

.base_color {
  background-color: #252827;
  border: 1px solid #303332;
}

.base_color_no_border {
  background-color: #252827;
}

.empty_color {
  background-color: #191c1b;
  border: 1px solid #252827;
}

.outline_color {
  background-color: #131716;
  border: 1px solid #252827;
}

.horizontal_divider {
  width: 1px;
  height: 100%;
  background-color: #191c1b;
}

.border {
  background-color: #303332;
}

.red {
  background-color: #923333;
}

.purple {
  background-color: #60495c;
}

.deep_purple {
  background-color: #4f2f4b;
}

.primary_text {
  color: #dfdfdf;
}

.secondary_text {
  color: #515352;
}

.container_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 16px; /* Adjust gap as needed */
  margin: 0px;
}

.container_row {
  width: 100%; /* Ensures rows take full width of their grid cell */
  display: flex;
  flex-grow: 1;
  min-height: 50px;
  gap: 10px;
}
.divider_horizontal {
  height: 1px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2) 0%,
    transparent 100%
  );
  margin-top: 3px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-height: 50px;
  max-height: 50px;
  width: 100%;
  justify-content: flex-end;
  border-radius: 5px;
}

.header_divider {
  min-width: 1px;
  max-width: 1px;
  min-height: 100%;
  background-color: #252827;
}

.header_button {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.header_button:hover {
  background-color: rgb(50, 50, 50);
}

.scroll_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  gap: 5px;
  overflow-y: scroll;
  scrollbar-width: none;
  gap: 10px;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 16px; /* Adjust gap as needed */
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* Breakpoint 1 */

.breakpoint {
  display: none;
}

@media (min-width: 300px) {
  .show_over_breakpoint1 {
    display: flex; /* or any other display value you need */
  }
}

@media (min-width: 800px) {
  .show_over_breakpoint2 {
    display: flex; /* or any other display value you need */
  }
}

@media (max-width: 800px) {
  .show_under_breakpoint2 {
    display: flex; /* or any other display value you need */
  }
}

@media (min-width: 1600px) {
  .show_over_breakpoint3 {
    display: flex; /* or any other display value you need */
  }
}

@media (min-width: 1600px) {
  .hide_over_breakpoint3 {
    display: none; /* or any other display value you need */
  }
}

@media (min-width: 1900px) {
  .show_over_breakpoint4 {
    display: flex; /* or any other display value you need */
  }
}

@media (min-width: 1900px) {
  .hide_over_breakpoint4 {
    display: none; /* or any other display value you need */
  }
}
