*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: rgba(19, 23, 22, 1);
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Resetting */

#root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  height: 100%; /* Assuming you're using a setup like create-react-app, adjust if you have a different root */
}

.upper {
  display: flex;
  background-color: rgb(255, 0, 170);
  height: 75%;
}

.portrait {
  display: flex;
  background-color: rgb(117, 0, 10);
  width: 70%;
}

.survivability {
  display: flex;
  background-color: rgb(255, 196, 0);
  height: 25%;
}

.corruption {
  display: flex;
  background-color: rgb(123, 57, 150);
  width: 70%;
}

/* For webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
  display: none !important;
}

.button-hover:hover {
  cursor: pointer;
  background-color: rgb(50, 50, 50);
}

.fadeIn {
  animation: fadeInAnimation 0.5s forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.font {
  color: #dfdfdf;
  font-weight: 600;
  font-size: 16px;
}

.body {
  display: flex;
  background-color: #131716;
  height: 100vh;
  width: 100vw;
  color: rgb(199, 199, 199);
  padding: 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  gap: 10px;
  box-sizing: border-box;
  user-select: none;
}
.column {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  box-sizing: border-box;
  gap: 10px;
  user-select: none;
  width: 100%;
  height: 100%;
}

.DynamicContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 10px;
  height: 0px;
}

.scroll {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: scroll;
  scrollbar-width: none;
}

.padding {
  padding: 10px;
}

.base_color {
  background-color: #252827;
  border-radius: 5px;
  border: 1px solid #303332;
}

.empty_color {
  background-color: #191c1b;
  border-radius: 5px;
  border: 1px solid #252827;
}

.standard_durability_color {
  background-color: #252827;
  transition: background-color 2s ease-in-out;
}

.negative_durability_color {
  background-color: #6d0000;
}

.row_color {
  background-color: #252827;
  border-bottom: 1px solid #303332;
}

.row_color_alternate {
  background-color: #1a1d1c;
  border-bottom: 1px solid #252827;
}

.opaque_color {
  background-color: rgba(25, 28, 27, 0.5);
  border-radius: 5px;
  border: 1px solid #252827;
}

.opaque_red_color {
  background-color: rgba(70, 14, 14, 0.5);
  border-radius: 5px;
  border: 1px solid #252827;
}

.button {
  cursor: pointer;
  transition: background-color 0.1s ease;
  color: #dfdfdf;
}

.button:hover {
  background-color: #4d4d4d;
}

.button:active {
  background-color: #252827; /* Change this to the color you want when the button is clicked */
}

.button.active {
  background-color: #737977; /* Change this to your preferred active color */
  font-weight: bold;
}

.button:disabled {
  background-color: #252827; /* Change this to your preferred disabled color */
  color: #737977;
  cursor: not-allowed;
}

.red {
  background-color: #ff0000;
}

.green {
  background-color: #00ff00;
}

.faHeartIcon {
  position: relative;
}

.faHeartIcon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  position: absolute;
  top: 0;
  left: -5px;
  padding-right: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  gap: 10px;
  border-radius: 5px;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  gap: 10px;
  border-radius: 5px;
}

.base_color {
  background-color: #252827;
  border: 1px solid #303332;
}

.button_color {
  background-color: #353837;
  border: 1px solid #404241;
}

.base_color_no_border {
  background-color: #252827;
}

.empty_color {
  background-color: #191c1b;
  border: 1px solid #252827;
}

.outline_color {
  background-color: #131716;
  border: 1px solid #252827;
}

.horizontal_divider {
  width: 1px;
  height: 100%;
  background-color: #191c1b;
}

.border {
  background-color: #303332;
}

.red {
  background-color: #923333;
}

.purple {
  background-color: #60495c;
}

.deep_purple {
  background-color: #4f2f4b;
}

.primary_text {
  color: #dfdfdf;
}

.secondary_text {
  color: #515352;
}

.container_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 16px; /* Adjust gap as needed */
  margin: 0px;
}

.container_row {
  width: 100%; /* Ensures rows take full width of their grid cell */
  display: flex;
  flex-grow: 1;
  min-height: 50px;
  gap: 10px;
}
.divider_horizontal {
  height: 1px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2) 0%,
    transparent 100%
  );
  margin-top: 3px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-height: 50px;
  max-height: 50px;
  width: 100%;
  justify-content: flex-end;
  border-radius: 5px;
}

.header_divider {
  min-width: 1px;
  max-width: 1px;
  min-height: 100%;
  background-color: #252827;
}

.header_button {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.header_button:hover {
  background-color: rgb(50, 50, 50);
}

.scroll_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  gap: 5px;
  overflow-y: scroll;
  scrollbar-width: none;
  gap: 10px;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 16px; /* Adjust gap as needed */
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* Breakpoint 1 */

.breakpoint {
  display: none;
}

@media (min-width: 300px) {
  .show_over_breakpoint1 {
    display: flex; /* or any other display value you need */
  }
}

@media (min-width: 800px) {
  .show_over_breakpoint2 {
    display: flex; /* or any other display value you need */
  }
}

@media (max-width: 800px) {
  .show_under_breakpoint2 {
    display: flex; /* or any other display value you need */
  }
}

@media (min-width: 1600px) {
  .show_over_breakpoint3 {
    display: flex; /* or any other display value you need */
  }
}

@media (min-width: 1600px) {
  .hide_over_breakpoint3 {
    display: none; /* or any other display value you need */
  }
}

@media (min-width: 1900px) {
  .show_over_breakpoint4 {
    display: flex; /* or any other display value you need */
  }
}

@media (min-width: 1900px) {
  .hide_over_breakpoint4 {
    display: none; /* or any other display value you need */
  }
}

/* Breakpoint 1 */

/* @media (min-width: 1700px) {
  .show_over_breakpoint1 {
    display: flex;
  }

  .show_under_breakpoint1 {
    display: none;
  }
}

@media (max-width: 1700px) {
  .show_under_breakpoint1 {
    display: flex;
  }

  .show_over_breakpoint1 {
    display: none;
  }
} */

/* Breakpoint 2 */
/* 


@media (min-width: 1700px) {
  .show_over_px {
    display: flex;
  }

  .show_under_px {
    display: none;
  }
}

@media (max-width: 1700px) {
  .show_under_px {
    display: flex;
  }

  .show_over_px {
    display: none;
  }
} */
